{%extends 'base.html'%}
{%block title%}Create a New Blog Post{%endblock%}

{%block content%}
{% if user.is_authenticated%}
<br>
<h3>Add Post</h3>
<form method="POST" class="form-group card p-4" enctype="multipart/form-data">

{%csrf_token%}
{{form.media}}
{{form.as_p}}

<button class="btn btn-primary">Post</button>
</form>

<script>
    var name = '{{user.id}}';
    document.getElementById('username').value = name;
</script>
{%else%}

<h4 style="text-align: center; padding-top: 30px; color: crimson;">Access Denied! <br> You Must First Sign Up.</h4>


{%endif%}



{%endblock%}

